<%# <h1>Welcome to Rumblr</h1>
<h4>Please sign up or log in to access your account</h4>
<a href="/signup">Sign Up</a>
<a href="/login">Log In</a> %>
  <!-- Section: Slider -->
  <section class="slider">
    <ul class="slides">
      <li>
        <img src="/images/sky.jpg" alt="">
        <div class="caption center-align">
          <h2 class="red">Welcome</h2>
          <h5 class="light grey-text text-darken-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
          <a href='/' class="btn btn-large">Learn More</a>
        </div>
      </li>
      <li>
        <img src="/images/flying.jpg" alt="">
        <div class="caption left-align">
          <h2 class="red">Sign Up</h2>
          <h5 class="light grey-text text-darken-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
          <a href='/signup' class="btn btn-large">NEXT</a>
        </div>
      </li>
      <li>
        <img src="/images/treewater.jpg" alt="">
        <div class="caption right-align">
          <h2 class="red">LOG IN</h2>
          <h5 class="light grey-text text-darken-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
          <a href='/login' class="btn btn-large">NEXT</a>
        </div>
      </li>
    </ul>
  </section>



