
<form method="POST" action="/user/new">
  <input type="text" name="first_name" placeholder="first name">
  <input type="text" name="last_name" placeholder="last name">
  <input type="text" name="birthday" placeholder="Birthday">
  <%# <input type="text" name="password" placeholder="password">   %>
  <!-- Later you will replace this with a dropdown -->
  <input type="text" name="email" placeholder="email" >

  <button type="submit" style="width:100px;height:100px">
</form>