<form method="POST" action="/post/new">
  <input type="text" name="post_name" placeholder="Post Name">
  <input type="text" name="content" placeholder="Content">

  <button type="submit" style="width:100px;height:100px">

</form>