<form method="POST" action="/post/new">
  <%# <input type="text" name="post_name" placeholder="Post Name">
  <input type="text" name="content" placeholder="Content"> %>
 <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <input type="text" name="post_name" placeholder="Post Name">
      <input type="text" name="content" placeholder="Content">

    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat"></a>
    </div>
  </div>


  <button type="submit" style="width:100px;height:100px">

</form>



 <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <input type="text" name="post_name" placeholder="Post Name">
      <input type="text" name="content" placeholder="Content">

    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat"></a>
    </div>
  </div>