/* html {
    height: 600px;
} */

.slider .btn {
    margin-top: 20px;
}

body {
    background-color: #9fd1ad;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

.container {
    padding-top: 50px;
    margin: auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 80px;
    padding: 10px;
}

section.slider ul.slides {
    height: 100%;
}


/*scrollbar for other user posts*/

.scrollbar {
    width: 10px;
    height: 1000px;
    margin-top: 0px;
    margin-left: 40px;
    overflow-y: scroll;
    float: right;
}

.content {
    height: 450px;
}

#bar::-webkit-scrollbar {
    width: 50px;
    background-color: #cccccc;
}

#bar::-webkit-scrollbar-thumb {
    background-color: #B03C3F;
    border-radius: 10px;
}

#bar::-webkit-scrollbar-thumb:hover {
    background-color: #BF4649;
    border: 1px solid #333333;
}

#bar::-webkit-scrollbar-thumb:active {
    background-color: #A6393D;
    border: 1px solid #333333;
}

#bar::-webkit-scrollbar-track {
    border: 1px gray solid;
    border-radius: 10px;
}